<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: copy"></div>
<body>

<main>
  <div class="container">
    <h2>Account</h2>
    <ul class="list-group" th:object="${account}">
      <li class="list-group-item" th:text="*{id}"></li>
      <li class="list-group-item" th:text="*{name}"></li>
      <li class="list-group-item" th:text="*{#numbers.formatCurrency(balance)}"></li>
      <li class="list-group-item" th:text="*{animalType}"></li>
      <li class="list-group-item" th:text="*{isKing()} ? 'Is a King' : 'Not a king'"></li>
      <li class="list-group-item" th:text="*{isBadGuy()} ? 'Bad Guy' : 'Good One'"></li>
    </ul>
    <a th:href="@{/accounts}" class="btn btn-primary" role="button">Go back</a>
  </div>
</main>

</body>
</html>