<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: copy"></div>
<body>

<main>
  <div class="container">
    <div>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Id</th>
            <th>Name</th>
            <th>Balance</th>
            <th>Animal type</th>
            <th>Good or Bad</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="account : ${accounts}" th:class="${account.isKing()} ? 'table-success'">
            <td th:text="${accountStat.count}"></td>
            <td th:text="${account.id}"></td>
            <td th:text="${account.name}"></td>
            <td th:text="${#numbers.formatCurrency(account.balance)}"></td>
            <td th:text="${account.animalType}"></td>
            <td th:text="${account.isBadGuy()} ? 'Bad Guy' : 'Good One'"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>

</body>
</html>