<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/general :: head (title = 'Add Todo')"></head>
<body>

<div class="container">
  <h1>Add new todo</h1>
  <form class="form-inline" th:action="@{/todo/add}" th:method="post" th:object="${todo}">
    <input class="form-control" type="text" th:field="*{title}">
    <input class="btn btn-primary" role="button" type="submit">
  </form>
</div>

<th:block th:include="fragments/general :: scripts" />
</body>
</html>