<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/general :: head (title = 'Todo App')"></head>
<body>

<div class="container">
  <div class="jumbotron my-5">
    <h1>Login to see your Todos</h1>
    <form th:action="@{/login}" th:method="post" th:object="${user}">
      <div class="form-group">
        <label th:for="*{username}">Username</label>
        <input class="form-control" type="text" th:field="*{username}" autofocus>
      </div>
      <div class="form-group">
        <label th:for="*{password}">Password</label>
        <input class="form-control" type="password" th:field="*{password}">
      </div>
      <div th:text="${error}"></div>
      <input class="btn btn-primary" role="button" type="submit" value="Login">
    </form>
  </div>
</div>

<th:block th:include="fragments/general :: scripts" />
</body>
</html>