<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Fox Club</title>
</head>
<body>
  <div class="container">
    <nav>
      <ul>
        <li><a href="#" th:href="@{/login}">Logout</a></li>
        <li><a href="#">Information</a></li>
      </ul>
    </nav>
  </div>
  <div class="container">
    <section>
      <img src="../static/img/green-fox.png" th:src="@{img/green-fox.png}" alt="Green Fox">
      <p>This is <span th:text="${name}">Mr. Fox</span>. Currently living on __FOOD__ and __BEVERAGE__. He knows 2 tricks.</p>
    </section>
    <section>
      <h1>Known tricks</h1>
      <ul>
        <li>write HTML</li>
        <li>code in Java</li>
      </ul>
    </section>
  </div>

</body>
</html>