<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: copy"></div>
<body>
  <div th:replace="fragments/nav :: copy"></div>
  <div class="container" th:object="${fox}">
    <section>
      <div class="row">
        <div class="col-3">
          <img src="https://dreamjo.bs/uploads/green-fox-academy/86a3c9fd316b.jpg" alt="Green Fox">
        </div>
        <div class="col-9">
          <h2 class="my-4" th:text="*{name}"></h2>
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div class="left">
                <i class="fas fa-utensils mr-2"></i>
                <span th:text="*{store.food}"></span>
              </div>
              <div class="right">
                <span><b th:text="|*{store.currentFood} / *{store.maxFood}|"></b></span>
                <form class="d-inline" th:action="@{/fox/fillUpFood(name=*{name})}" th:method="post">
                  <button type="submit" class="btn btn-primary ml-2">Fill up</button>
                </form>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div class="left">
                <i class="fas fa-cocktail mr-2"></i>
                <span th:text="*{store.drink}"></span>
              </div>
              <div class="right">
                <span><b th:text="|*{store.currentDrink} / *{store.maxDrink}|"></b></span>
                <form class="d-inline" th:action="@{/fox/fillUpDrink(name=*{name})}" th:method="post">
                  <button type="submit" class="btn btn-primary ml-2">Fill up</button>
                </form>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section>
      <h2>Known tricks</h2>
      <ul class="list-group">
        <li th:each="trick : ${fox.tricks}" class="list-group-item d-flex justify-content-between align-items-center">
          <span th:text="${trick}"></span>
          <form th:action="@{/fox/performTrick(name=*{name})}" th:method="post">
            <input type="hidden" th:value="${trick}" th:name="trick">
            <button class="btn btn-primary">Perform</button>
          </form>
        </li>
      </ul>
      <p th:if="${fox.tricks.size() == 0}">No tricks yet. Go on and learn some!</p>
    </section>
    <div th:replace="action_history :: copy"></div>
  </div>

</body>
</html>