<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Fox Club</title>
</head>
<body>
  <div class="container">
    <nav>
      <ul>
        <li><a href="#" th:href="@{/login}">Logout</a></li>
        <li><a href="#" th:href="@{/(name=${fox.name})}">Information</a></li>
      </ul>
    </nav>
  </div>
  <div class="container" th:object="${fox}">
    <section>
      <img src="https://dreamjo.bs/uploads/green-fox-academy/86a3c9fd316b.jpg" alt="Green Fox">
      <p>This is <span th:text="*{name}">Mr. Fox</span>.
        Currently living on <span th:text="*{food}">food</span>
        and <span th:text="*{drink}">drink</span>.
        He knows <span th:text="*{tricks.size()}">0</span> tricks.
      </p>
    </section>
    <section>
      <h1>Known tricks</h1>
      <ul th:each="trick : ${fox.tricks}">
        <li th:text="${trick}">write HTML</li>
      </ul>
      <p th:if="${fox.tricks.size() == 0}">No tricks yet. Go on and learn some!</p>
    </section>
  </div>

</body>
</html>