<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Fox Club - Nutrition Store</title>
</head>
<body>
  <div class="container">

    <form th:action="@{/fox/changeNutrition(name=${fox.name})}" th:method="post" th:object="${fox}">
      <div class="form-control">
        <label th:for="*{food}">Food</label>
        <select th:field="*{food}">
          <option th:each="f : ${foodSet}" th:value="${f}" th:text="${f}"></option>
        </select>
      </div>
      <div class="form-control">
        <label th:for="*{drink}">Drink</label>
        <select th:field="*{drink}">
          <option th:each="d : ${drinkSet}" th:value="${d}" th:text="${d}"></option>
        </select>
      </div>
      <button type="submit">Change</button>
    </form>
  </div>
</body>
</html>