<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: copy"></div>
<body>
  <div th:replace="fragments/nav :: copy"></div>

  <div class="container">
    <h2>Nutrition Store</h2>
    <form th:action="@{/fox/changeNutrition(name=${fox.name})}" th:method="post" th:object="${store}">
      <div class="form-group">
        <label th:for="*{food}">Food</label>
        <select class="form-control" th:field="*{food}">
          <option th:each="f : ${foodSet}" th:value="${f.name()}" th:text="${f}"></option>
        </select>
      </div>
      <div class="form-group">
        <label th:for="*{drink}">Drink</label>
        <select class="form-control" th:field="*{drink}">
          <option th:each="d : ${drinkSet}" th:value="${d.name()}" th:text="${d}"></option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Change</button>
    </form>
  </div>
</body>
</html>