<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Fox Club - Nutrition Store</title>
</head>
<body>
  <div th:replace="fragments/nav :: copy"></div>

  <div class="container">
    <form th:action="@{/fox/learnTrick(name=${fox.name})}" th:method="post" th:if="${#lists.size(newTricks) > 0}">
      <div class="form-control">
        <label>Tricks</label>
        <select name="trick">
          <option th:each="trick : ${newTricks}" th:value="${trick}" th:text="${trick}"></option>
        </select>
      </div>
      <button type="submit">Learn</button>
    </form>
    <h2 th:if="${#lists.size(newTricks) == 0}">Your fox has learned all the tricks!</h2>
  </div>
</body>
</html>