<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: copy"></div>
</head>
<body>
  <div th:replace="fragments/nav :: copy"></div>

  <div class="container">
    <h2>Trick Center</h2>
    <form th:action="@{/fox/learnTrick(name=${fox.name})}" th:method="post" th:if="${#lists.size(newTricks) > 0}">
      <div class="form-group">
        <label>Tricks</label>
        <select name="trick" class="form-control">
          <option th:each="trick : ${newTricks}" th:value="${trick.name()}" th:text="${trick}"></option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Learn</button>
    </form>
    <p th:if="${#lists.size(newTricks) == 0}">Your fox has learned all the tricks!</p>
  </div>
</body>
</html>