<html lang="en" xmlns:th="http://www.thymeleaf.org">

<header th:fragment="copy" class="mb-2">
  <div class="container">
    <div class="d-flex justify-content-between">
      <h1>My Shop</h1>
      <form class="form-inline" action="">
        <div class="form-group mx-sm-3">
          <label for="search"></label>
          <input class="form-control" type="text" name="search" id="search" autofocus>
        </div>
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
    </div>
  </div>
</header>