<html lang="en" xmlns:th="http://www.thymeleaf.org">

<nav class="navbar navbar-light bg-light" th:fragment="copy">
  <div class="container">
    <a class="navbar-brand" href="#" th:href="@{/(name=${fox.name})}">
      <img alt="" height="30"
           src="https://dreamjo.bs/uploads/green-fox-academy/86a3c9fd316b.jpg" width="30">
      Fox Club
    </a>
    <ul class="nav nav-fill">
      <li class="nav-item">
        <a class="nav-link" href="#" th:href="@{/(name=${fox.name})}">Information</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" th:href="@{/nutritionStore(name=${fox.name})}">Nutrition
          Store</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" th:href="@{/trickCenter(name=${fox.name})}">Trick Center</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" th:href="@{/actionHistory(name=${fox.name})}">Action
          History</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" th:href="@{/login}">Logout</a>
      </li>
    </ul>
  </div>
</nav>