<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/general :: head (title = 'Add Todo')"></head>
<body>

<div class="container">
  <h1>Add new todo</h1>
  <form th:action="@{/todos/add}" th:method="post" th:object="${todo}">
    <div class="form-group">
      <label th:for="*{title}">Title</label>
      <input class="form-control" type="text" th:field="*{title}">
    </div>
    <div class="form-group">
      <label th:for="*{description}">Description</label>
      <textarea class="form-control" rows="10" th:field="*{description}"></textarea>
    </div>
    <input class="btn btn-primary" role="button" type="submit">
  </form>
</div>

<th:block th:include="fragments/general :: scripts" />
</body>
</html>