<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>My Webshop</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

  <header class="mb-2">
    <div class="container">
      <div class="d-flex justify-content-between">
        <h1>My Shop</h1>
        <form class="form-inline" action="">
          <div class="form-group mx-sm-3">
            <label for="search"></label>
            <input class="form-control" type="text" name="search" id="search" autofocus>
          </div>
          <button class="btn btn-primary" type="submit">Search</button>
        </form>
      </div>
    </div>
  </header>

  <nav class="mb-4">
    <div class="container">
      <ul class="nav nav-fill">
        <li class="nav-item">
          <a href="/webshop/only-available" class="nav-link">Only available</a>
        </li>
        <li class="nav-item">
          <a href="/webshop/cheapest-first" class="nav-link">Cheapest first</a>
        </li>
        <li class="nav-item">
          <a href="?search=nike" class="nav-link">Contains Nike</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Average stock</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Most expensive available</a>
        </li>
      </ul>
    </div>
  </nav>

  <main>
    <div class="container">
      <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity of stock</th>
      </tr>
      </thead>
      <tbody>
      <th:block th:each="shopItem : ${shoppingList}">
        <tr>
          <td th:text="${shopItem.getName()}"></td>
          <td th:text="${shopItem.getDescription()}"></td>
          <td th:text="${shopItem.getPrice()}"></td>
          <td th:text="${shopItem.getStock()}"></td>
        </tr>
      </th:block>
      </tbody>
      </table>
    </div>
  </main>

</body>
</html>