<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: copy"></div>
<body>

  <div th:replace="fragments/header :: copy"></div>
  <div th:replace="fragments/nav :: copy"></div>

  <main>
    <div class="container">
      <table class="table">
        <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Quantity of stock</th>
          <th></th>
        </tr>
        </thead>
      <tbody>
      <th:block th:each="shopItem : ${shoppingList}">
        <tr>
          <td th:text="${shopItem.getName()}"></td>
          <td th:text="${shopItem.getDescription()}"></td>
          <td th:text="${shopItem.getPrice()}"></td>
          <td th:text="${shopItem.getStock()}"></td>
          <td><a href="#" class="btn btn-danger" role="button"><i class="far fa-trash-alt" title="Delete"></i></a></td>
        </tr>
      </th:block>
      </tbody>
      </table>
      <a href="/webshop/add" role="button" class="btn btn-primary">Add an item</a>
    </div>
  </main>

</body>
</html>